@font-face {font-family: Pusab; src: url('mm10.ttf')}
h1,h2.h3,h4,h5,h6,button {
font-family: Pusab, Arial;
color: White;
background-color: 0079fb;
border:none;
}
body {
font-family: Pusab, Arial;
position: relative;
text-align: center;
margin-left:auto;
margin-right:auto;
background-size: 100%;
top: 10px;
overflow: hidden;
background-repeat: no-repeat;

}
#mugshot {
width: 8em;
height: 8em;
}